<! DOCTYPE html >
< html >
< голова >
	< meta  charset = " utf-8 " >
	< title > Магазин </ title >
	< link  rel = " stylesheet " type = " text / css " href = " /static/style.css " >
	< link  rel = " stylesheet " href = " /static/fonts/font-awesome/css/font-awesome.css " >
</ голова >
< тело >
	< div  class = " container " >
		< div  class = " slider " >
			< div  class = " header clearfix " >
				< HREF = " index.html " класс =" логотип " > </ > 
				< ul  class = " menu " >
					< Литий > < HREF = " index.html " класс =" активный " > домой </ > </ литий > 
					< Литий > < HREF = " products.html " > продукты </ > </ литий > 
					< Литий > < HREF = " contact.html " > контакты </ > </ литий > 
				</ ul >
				< HREF = " # " класс =" поиск " > </ > 
			</ div >
			< div  class = " text-slider " >
				< h3  class = " green " > тенденции </ h3 >
				< h3  class = " big " > удобные стулья </ h3 >
				< p > Новый уровень комфорта. Отличные характеристики. </ p >
				< HREF = " # " класс =" Кнопка порядка " > заказать < IMG SRC =" IMG / Arrow.png " альт ="" > </ >  
			</ div >	
			< div  class = " navi " >
				< HREF = " # " > </ > < HREF =" # " > </ > < HREF =" # " > </ >   
			</ div >
		</ div >

		< div  class = " Featured " >
			< div  class = " Feature-menu " >
					< Класс = " активный " HREF =" # " > Популярные </ > < HREF =" # " > Новинки </ >  
			</ div >
			< Класс = " исследовать " HREF =" # " > показать все < IMG SRC =" IMG / Arrow.png " альт ="" > </ >  
			< div  class = " clearfix " >
			</ div >
			< div  class = " tab-content " >
				< div  class = " block " >
					< HREF = " # " > < IMG SRC =" IMG / продукт-1.jpg " альт ="" >   
						< div  class = " text " >
							< img  src = " img / icon-hover.png " alt = " img " >
							< h4 > Отличный стул </ h4 >
							< p > Расположитесь комфортно. </ p >
						</ div > 
					</ а >
				</ div >
				< div  class = " block " >
					< HREF = " # " > < IMG SRC =" IMG / продукт-2.jpg " Alt ="" >  
						< div  class = " text " >
							< img  src = " img / icon-hover.png " alt = "" >
							< h4 > Стул повышенного качества </ h4 >
							< p > Не оторваться. </ p >
						</ div >
					</ а >
				</ div >	
			</ div >
		</ div >

		< div  class = " clr " > </ div >

	</ div >

    < div  class = " footer " >
        < div  class = " clearfix " >
            < div  class = " text-footer " >
                < h3 > контакты </ h3 >
            </ div >
            < div  class = " text-footer " >
                < h3 > полезная информация </ h3 >
            </ div >
            < div  class = " text-footer clearfix " >
                < h3 > Оставайтесь на связи </ h3 >
                < p > Подписаться на новости и рассылки </ p >
                < форма >
                    < input  type = " email " name = " email " placeholder = " ваш адрес электронной почты " >
                    < HREF = " # " > < я класс =" фа фа-бумажная плоскость фа-2x " ария-спрятано =" истинный " > </ я > </ >  
                </ форма >
            </ div >
        </ div >
        < p  class = " small " > & copy; ГБ 2017 </ p >
        < div  class = " social " >
            < HREF = " # " класс =" social1 " > </ > 
            < HREF = " # " класс =" social2 " > </ > 
            < HREF = " # " класс =" social3 " > </ > 
            < HREF = " # " класс =" social4 " > </ > 
        </ div >
        < p  class = " small " > Положения & amp; Условия / Конфиденциальность & amp; Файлы cookie </ p >
    </ div >	

</ body >
</ html > 